.container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #131a28;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
    margin-top: 1rem;
  }
  
  .input {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
    
  }