.container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .button{
    padding: 5px 10px;
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 5px;
  }
  
  .button:disabled{
    cursor: not-allowed;
    background-color: gray;
  }